name: Deploy to Server

on:
  # Ejecutar cuando se haga un push a la rama "main"
  push:
    branches:
      - "main"
  # Ejecutar cuando haya un pull request dirigido a "main"
  pull_request:
    branches:
      - "main"

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    # 1. Checkout del c贸digo
    - name: Checkout code
      uses: actions/checkout@v4

    # 3. Instalar dependencias y construir el proyecto
    - name: Install dependencies
      run: npm ci

    - name: Build project
      run: npm run build --if-present

    # 4. Comprimir los archivos dentro de la carpeta "dist" (no la carpeta "dist" completa)
    #- name: Compress dist files
    #  run: zip -r dist.zip dist/
    
    # 5. Verificaci贸n de que el archivo zip se cre贸 correctamente
    #- name: Verify dist.zip creation
    #  run: ls -lh dist.zip

    # 6. Subir el archivo comprimido al servidor FTP
    - name: Upload compressed dist to FTP server
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.SERVER_FTP }}            # Direcci贸n IP o nombre del host FTP (ej. ftp.digitalbroperu.com)
        username: ${{ secrets.SERVER_USERMAIL }}     # Usuario FTP
        password: ${{ secrets.SERVER_PASSWORD }}     # Contrase帽a FTP
        port: 21                                      # Puerto est谩ndar para FTPS
        protocol: ftps                                #  Fuerza el uso de FTPS (como en FileZilla)
        local-dir: ./dist/                            # Carpeta local generada por tu build
        server-dir: /digitalbroperu.com/public_html/  # Ruta en el servidor donde subir谩s los archivos
        delete: true   